<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body class="text-italic">
  <header class="header text-white">
    <h1><span>Here’s</span><br>JOANNE</h1>
    <p>Founder of “XXXD Official"<br>& Graphic Designer</p>
    <ul class="social-list">
      <li>
        <a href="" class="social-icon"><img src="https://cdn-sharing.adobecc.com/content/storage/id/urn:aaid:sc:US:27f2c1f7-6c48-42b5-a5fa-6db8eec461a5;revision=0?component_id=b8f351ff-f3ba-4943-82f6-950e2901ecb9&api_key=CometServer1&access_token=1626833078_urn%3Aaaid%3Asc%3AUS%3A27f2c1f7-6c48-42b5-a5fa-6db8eec461a5%3Bpublic_3aeef22d9a98cc4582d66851717219da40d292b2" alt=""></a>
      </li>
      <li>
        <a href="" class="social-icon"><img src="https://cdn-sharing.adobecc.com/content/storage/id/urn:aaid:sc:US:27f2c1f7-6c48-42b5-a5fa-6db8eec461a5;revision=0?component_id=8d354c09-1c4f-4213-a6d9-87df1eb028f4&api_key=CometServer1&access_token=1626833078_urn%3Aaaid%3Asc%3AUS%3A27f2c1f7-6c48-42b5-a5fa-6db8eec461a5%3Bpublic_3aeef22d9a98cc4582d66851717219da40d292b2" alt=""></a>
        </li>
      <li>
        <a href="" class="social-icon"><img src="https://cdn-sharing.adobecc.com/content/storage/id/urn:aaid:sc:US:27f2c1f7-6c48-42b5-a5fa-6db8eec461a5;revision=0?component_id=5a53932e-cd8d-4a4b-a471-b74a5f0ef3f7&api_key=CometServer1&access_token=1626833078_urn%3Aaaid%3Asc%3AUS%3A27f2c1f7-6c48-42b5-a5fa-6db8eec461a5%3Bpublic_3aeef22d9a98cc4582d66851717219da40d292b2" alt=""></a>
      </li>
      <li>
        <a href="" class="social-icon"><img src="https://cdn-sharing.adobecc.com/content/storage/id/urn:aaid:sc:US:27f2c1f7-6c48-42b5-a5fa-6db8eec461a5;revision=0?component_id=234f8b84-a39f-4b32-9a21-d63cda329b73&api_key=CometServer1&access_token=1626833078_urn%3Aaaid%3Asc%3AUS%3A27f2c1f7-6c48-42b5-a5fa-6db8eec461a5%3Bpublic_3aeef22d9a98cc4582d66851717219da40d292b2" alt=""></a>
      </li>
    </ul>
  </header>

  <%- contents %>

  <footer class="footer bg-black text-white text-center">
    <h2>Contact</h2>
    <ul>
        <li>Mail：
          <a href="mailto:xxxd@hexschool.com">xxxd@hexschool.com</a>
        </li>
        <li>Phone Number：
          <a href="tel:0910123456">0910123456</a>
        </li>
      </ul>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
