<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body class="text-italic">
  <header class="header text-white">
    <h1><span>Here’s</span><br>JOANNE</h1>
    <p class="header-description">Founder of “XXXD Official"<br>& Graphic Designer</p>
    <ul class="social-list">
      <li>
        <a href="" class="social-icon"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week2/behance.svg" alt="behance"></a>
      </li>
      <li>
        <a href="" class="social-icon"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week2/facebook.svg" alt="facebook"></a>
        </li>
      <li>
        <a href="" class="social-icon"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week2/instagram.svg" alt="instagram"></a>
      </li>
      <li>
        <a href="" class="social-icon"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week2/youtube.svg" alt="youtube"></a>
      </li>
    </ul>
  </header>

  <%- contents %>

  <footer class="footer bg-black text-white text-center">
    <h2>Contact</h2>
    <ul>
        <li>Mail：
          <a href="mailto:xxxd@hexschool.com">xxxd@hexschool.com</a>
        </li>
        <li>Phone Number：
          <a href="tel:0910123456">0910123456</a>
        </li>
      </ul>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
