
$white:        #FFFFFF;
$black:        #000000;
$gray:         #707070;
$red:          #891818;

$font-family: 'Roboto', sans-serif;

$h1-font-size:  80px;
$h2-font-size:  64px;
$h3-font-size:  20px;

$font-size-regular:  24px;
$font-size-sm:  20px;

$font-line-height-lg:  1.75;
$font-line-height:  1.5;
$font-line-height-sm:  1.3;

//font-weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$space-default: 4px;
$space:(
    4:    $space-default * 1,
    8:    $space-default * 2,
    12:   $space-default * 3,
    16:   $space-default * 4,
    20:   $space-default * 5,
    24:   $space-default * 6,
    28:   $space-default * 7,
    32:   $space-default * 8,
    36:   $space-default * 9,
    40:   $space-default * 10,
    48:   $space-default * 12,
    56:   $space-default * 14,
    64:   $space-default * 16,
    68:   $space-default * 17,
    96:   $space-default * 24,
    144:  $space-default * 36,
    160:  $space-default * 40
);