
@import "reset";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@each $num, $value in $space {
  .p-#{$num} {
    padding: $value;
  }

  .pt-#{$num} {
    padding-top: $value;
  }

  .pb-#{$num} {
    padding-bottom: $value;
  }

  .pr-#{$num} {
    padding-right: $value;
  }

  .pl-#{$num} {
    padding-left: $value;
  }

  .m-#{$num} {
    margin: $value;
  }

  .mt-#{$num} {
    margin-top: $value;
  }

  .mb-#{$num} {
    margin-bottom: $value;
  }

  .mr-#{$num} {
    margin-right: $value;
  }

  .ml-#{$num} {
    margin-left: $value;
  }
}

*,*::before,*::after{
  box-sizing: border-box;
}

body{
  font-size: $font-size-regular;
  line-height: $font-line-height;
  font-family: $font-family;
  color: $black;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover{
    text-decoration: underline;
  }
}

img {
  display: block;
}

h1,h2 {
  line-height: $font-line-height-sm;
}

h1 {
  font-size: $h1-font-size;
  font-weight: $font-weight-bold;
  margin-bottom: 32px;
  span{
    font-size: $font-size-regular;
  }
}

h2 {
  font-size: $h2-font-size;
}

h3{
  font-size: $h3-font-size;
  font-weight: $font-weight-bold;
}

hr {
  border: 1px solid $black;
  width: 384px;
}

.text-center {
  text-align: center;
}

.text-white {
  color: $white;
}

.text-italic {
  font-style: italic;
}

.bg-black {
  background-color: $black;
}

.w-100{
  width: 100%;
}

.m-0-auto{
  margin: 0 auto;
}

.red-dot{
  &::before{
    content: " ";
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: $red;
    margin-right: 16px;
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week2/banner.png);
  background-size: cover;
  height: 958px;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $gray;
}

.header-description{
  font-weight: $font-weight-bold;
}

.social-list {
  display: flex;
  margin-top: 40px;
  li{
    display: inline-block;
    margin: 0 8px;
  }
}

.about{
  padding-top: 56px;
  padding-bottom: 56px;
}

.about-img{
  margin: 0 auto;
}

.about-profile,
.about-experience{
  font-weight: $font-weight-bold;
}

.brand-imgs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.other_work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.other_work-item{
  margin-bottom: 48px;
}

.other_work-img{
  margin-bottom: 16px;
}

.footer {
  padding-top: 64px;
  padding-bottom: 64px;
}


