
@import "reset";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,*::before,*::after{
  box-sizing: border-box;
}

body{
  font-size: $font-size-regular;
  line-height: $font-line-height;
  font-family: $font-family;
  color: $black;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover{
    text-decoration: underline;
  }
}

img {
  display: block;
}

h1,h2 {
  line-height: $font-line-height-sm;
  font-weight: $font-weight-bold;
}

h1 {
  font-size: $h1-font-size;
  margin-bottom: 32px;
  span{
    font-size: $font-size-regular;
  }
}

h2 {
  font-size: $h2-font-size;
}

h3{
  font-size: $h3-font-size;
}

hr {
  border: 1px solid $black;
  width: 384px;
}

.text-center {
  text-align: center;
}

.text-white {
  color: $white;
}

.text-italic {
  font-style: italic;
}

.bg-black {
  background-color: $black;
}

.red-dot{
  &::before{
    content: " ";
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: $red;
    margin-right: 16px;
    vertical-align: middle;
  }
}

.header {
  background-image: url(https://cdn-sharing.adobecc.com/content/storage/id/urn:aaid:sc:US:27f2c1f7-6c48-42b5-a5fa-6db8eec461a5;revision=0?component_id=9d8b3f1a-5fdb-4d5e-91a5-0ba8a32d8fbc&api_key=CometServer1&access_token=1626833078_urn%3Aaaid%3Asc%3AUS%3A27f2c1f7-6c48-42b5-a5fa-6db8eec461a5%3Bpublic_3aeef22d9a98cc4582d66851717219da40d292b2);
  background-size: cover;
  height: 958px;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $gray;
}

.social-list {
  display: flex;
  margin-top: 40px;
  li{
    display: inline-block;
    margin: 0 8px;
  }
}

.about{
  padding-top: 56px;
  padding-bottom: 56px;
}

.about-img{
  margin: 0 auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.footer {
  padding-top: 64px;
  padding-bottom: 64px;
}


